    body{
        font-size: 3vw;
    }

    .thumbnail_gird{
        margin-left: 10vw;
        margin-right: 10vw;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 1vw;
    }
    
    .thumbnail_gird2{
        grid-template-rows: 1fr 1fr 1fr;
        width: 95%;
        height: 95%;
    }

    #stat_bar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        border-top: 0.1px solid gray;
        border-bottom: 0.11px solid gray;

        margin-bottom:5px;
        margin-top:5px;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 2vw;
    }

    .stat{
        text-align:center;
    }

    .circle_pic{
        border: solid white 1px;
        border-radius: 50%;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #profile_pic{
        width: 11.5vw;
        height: 11.5vw;
    }
    
    .highlight_pic{
        width: 8.5vw;
        height: 8.5vw;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
        max-height: 100px;
    }

    #highlight_area{
        display: grid;
        grid-template-columns: 12vw 12vw 1fr;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .highlight{
        text-align:center;
    }

    #profile{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-left: 11vw;
        margin-right: 11vw;
        padding-bottom: 2vw;
    }

    #profile_info{
        display:grid;
        grid-template-rows: 1fr 1fr;
    }

    #id{
        font-size: 2vw;

    }

    button{
        height: 2vw;
        width: 7vw;
        min-width: 100px;
        min-height: 20px;

        font-size:1vw;
        background-color: white;
        border: solid gray 1px;
        border-radius: 3px;
    }

    #top{
        display: grid;
        grid-template-columns: 4fr 7fr 5fr;
        height: 30px;
        margin-bottom: 3vw;
    }

    #top img{
        padding-top: 1.5vw;
        margin-left: auto;
        margin-right: auto;
        max-height: 45px;

        height: 80%;
        width : 80%;
        object-fit: contain;
    }

    #top input{
        height: 40%;
        width: 50%;

        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;

        text-align: center;
        background-color: rgb(250, 250, 250);

        border:solid gray 1px;
        border-radius: 3px;

        font-size: 1vw;
        text-align: left;
        font-weight: 100;
    }

    i{
        color:gray;
        width: 2vw;
        height: 2vw;
    }

    #top i{
        font-size: 2vw;
    }

    #top div{
        text-align: center;
    }

    #sub_icons{
        margin-left: 10vw;
        margin-right: 10vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        text-align: center;
        font-size: 2.5vw;

        height: 4vw;
    }

    .selected{
        border-bottom: solid gray 3px;
    }

    #introduce{
        margin-left: 11vw;
        margin-right: 11vw;
        margin-bottom: 1vw;
        font-size: 1.6vw;
    
    }